[Unit]
Description=makima input remapper
After=graphical-session.target

[Service]
ExecStart=/home/philipp/.local/bin/makima
Restart=on-failure
RestartSec=3
Environment=WAYLAND_DISPLAY=wayland-0
Environment=DISPLAY=:0
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=KDE

[Install]
WantedBy=graphical-session.target
